h1 {
  color: #414141;
  font-family: Avant Garde,;
  font-size: 5em;
  text-align: center;
  }

.header-alt {
  border-bottom: dotted #414141;
  margin-left: auto;
  margin-right: auto;
  }

.header-primary {
  text-transform: uppercase;
  }

h4 {
  color: #C0C0C0;
  text-align: center;
  }

h1,
.header-alt {

  }

h2 {
  text-align: center;
  }
h3 {
  text-align: center;
}


div p {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  background-color: #C0C0C0;
  }

div p, div a {}
